#forgot-page {
    width: 100vw;
    height: 100vh;
}

#forgot-page .hidden {
    display: none;
}

.forgot-section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.forgot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #1f222d;

    border: 1px solid #ffffff33;
    border-radius: 10px;
    width: 400px;
    height: 420px;
    margin: auto;

    padding: 10px;
}

.forgot-title {
    color: #e9e9ed;
    font-size: 1.75rem;
}

.forgot-container h2 {
    margin-top: 10%;
    margin-bottom: 7%;
}

.forgot-form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.forgot-input-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 5px 10px;
    margin: 0px 0px;
    position: relative;
    width: 90%;
    margin-bottom: 22px;
}

.forgot-input-frame input {
    background-color: #171a23;
    color: #a0b1b8;
    outline: none;
    border: 1px solid #ffffff75;
    border-radius: 8px;

    padding: 8px 20px;

    font-size: 1rem;
    margin-top: 3%;
    width: 90%;
}

.forgot-input-frame input:focus {
    border: 1px solid #2a8a6890;
}

.forgot-input-frame label {
    color: #e9e9ed;
    font-size: 0.8rem;
    margin-bottom: 5%;
    text-align: center;
}

label.new-password {
    position: absolute;
    color: #63656c;
    font-size: 0.7rem;
    top: -5px;
    left: 32px;
    text-align: center;
}

.forgot-button {
    padding: 6px 10px;
    width: 130px;
    margin-top: 25px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.horizontal-line {
    width: 75%;
    margin-top: 25px;
    position: absolute;
    bottom: 60px;
}

.login-signup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    gap: 10px;
    position: absolute;
    bottom: 20px;
}


.login-signup-link  {
    color: #808080;
    text-decoration: none;
    font-size: 0.9rem;
    margin-top: 2px;
}

.login-signup-link:hover {
    text-decoration: underline;
}

.login-signup p {
    color: #808080;
    margin: 0;
}

.forgot-error {
    color: red;
    position: absolute;
    left: 30px;
    bottom: -32px;
    font-size: 0.85rem;
}

.forgot-error-hidden {
    display: none;
}

.forgot-success {
    /* display: none; */
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

.forgot-non-success {
    display: none;
}

.forgot-success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 475px;
    height: 260px;
    background-color: #042634;
    margin: 20px auto;
    border-radius: 10px;
    color: #f7f7f7;
}

.forgot-success-container img {
    width: 70px;
    height: 70px;
    margin-top: 20px
}

.forgot-success-container h2 {
    font-size: 1.4rem;
    margin-top: 15px;
    margin-bottom: 10px;
}

.forgot-success-container p {
    margin-top:  10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 2px;
}

.forgot-success-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 14px;
    width: 120px;
    height: 45px;
    background-color: #25ae88;
    border-radius: 7px;
    cursor: pointer;
}

.forgot-success-btn p {
    text-align: center;
    color: #f7f7f7;
    margin: 0;
}