.signup-page {
    width: 100vw;
    height: 100vh;
}

.signup-section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #1f222d;

    border: 1px solid #ffffff76;
    border-radius: 10px;
    width: 400px;
    height: 500px;
    margin: auto;

    padding: 10px;
}

.signup-title {
    color: #e9e9ed;
    font-size: 2rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.signup-input-frame {
    background-color: transparent;
    padding: 5px 10px;
    margin: 9px 0px;
}

.signup-input-frame input {
    background-color: #171a23;
    color: #a0b1b8;
    outline: none;
    border: 1px solid #ffffff75;
    border-radius: 8px;

    padding: 8px 20px;

    font-size: 1rem;

    /* height: 100%; */
}

.signup-input-frame p {
    position: absolute;
    margin: 1px;
    padding: 0;
    color: red;
    font-size: 0.8rem;
}

.error-hidden {
    display: none;
}

.signup-button {
    padding: 6px 10px;
    width: 130px;
    margin-top: 35px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.back-login {
    margin-top: 10%;
    text-decoration: none;
    color: #a6aca9;
}

.signup-form a:hover {
    text-decoration: underline;
}

.signup-success {
    /* display: none; */
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

.signup-non-success {
    display: none;
}

.signup-success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 475px;
    height: 260px;
    background-color: #042634;
    margin: 20px auto;
    border-radius: 10px;
    color: #f7f7f7;
}

.signup-success-container img {
    width: 70px;
    height: 70px;
    margin-top: 20px
}

.signup-success-container h2 {
    font-size: 1.4rem;
    margin-top: 15px;
    margin-bottom: 10px;
}

.signup-success-container p {
    margin-top:  10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 2px;
}

.signup-success-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 14px;
    width: 120px;
    height: 45px;
    background-color: #25ae88;
    border-radius: 7px;
    cursor: pointer;
}

.signup-success-btn p {
    text-align: center;
    color: #f7f7f7;
    margin: 0;
}